@import "tailwindcss";


:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb; 
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: baseline;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c7d2fe; 
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8; 
}